@charset "UTF-8";


body {
  padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
}

header {
  width: 100%; /* 幅いっぱいを指定 */
  height: 50px; /* 高さを50pxに指定 */
  color: #ffffff;
  background-image: -webkit-linear-gradient(left, #84C0DA, #005EAC, #003682);

  background-image: linear-gradient(90deg, #84C0DA, #005EAC, #003682);
  padding: 20px 50px; /* ヘッダーに上下左右それぞれ余白を指定 */
  box-sizing: border-box; /* padding分を含んで幅を100%にするため */
  position: fixed; /* ウィンドウを基準に画面に固定 */
  top: 0; /* 上下の固定位置を上から0pxにする */
  left: 0; /* 左右の固定位置を左から0pxにする */
  display: flex; /* 中の要素を横並びにする */
  align-items: center; /* 中の要素を上下中央に並べる */
}

header .gnav .menu {
  display: flex; /* 中の要素を横並びにする */
}

header .gnav .menu li {
  list-style: none; /* リストの[・]を消す */
}

header .gnav .menu li + li {
  margin-left: 40px; /* メニューそれぞれに間隔をあけるため */
}

main {
  height: 100vw; /* スクロールの演出を見れるようにmainに高さを指定 */
  
}

.head{
    color: #ffffff;
    font-weight: bold;
}


.cp_iptxt {
	position: relative;
	width: 35.33%;
	margin: auto;
  background-color: rgba(255, 255, 255, 0);
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.5em;
	padding-left: 30px;
	letter-spacing: 2px;
	border: 0;
  color: rgb(0, 0, 0);
}


.cp_iptxt input[type='text']:focus {
	outline: none;
}

.cp_iptxt input[type='text']:focus::after {
	outline: none;
}

.cp_iptxt::after {
	display: block;
	width: 100%;
	height: 5px;
	margin-top: -1px;
	content: '';
	border-width: 0 2px 2px 2px;
	border-style: solid;
	border-color: #84C0DA ;
}


p{
    font-size: 15px;
    box-sizing: border-box;
    background-color: #ebebeb;
    line-height: 2;
}

.bold {
    font-weight:normal;
}

.radio{
  font-weight: bold;
}


label{
  font-size: 15px;
  box-sizing: border-box;
  line-height: 2;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-gradient {
  display:block;
  width:30%;
  margin:0 auto;
  font-weight: bold;
  border-radius: 0;
  color: #fff;
  
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(40%, #ff3cac),
    to(#562b7c)
  );
  background-image: -webkit-linear-gradient(left, #84C0DA 40%, #005EAC 100%);
  background-image: linear-gradient(90deg, #84C0DA 40%, #005EAC 100%);
}

a.btn-gradient:after {
  position: absolute;
  border-radius: 0;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  content: "";
  -webkit-transition: all 0.5s;
  transition: all 0.5s;

  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff3cac),
    color-stop(#562b7c),
    to(#2b86c5)
  );

  background-image: -webkit-linear-gradient(left, #84C0DA, #005EAC, #003682);

  background-image: linear-gradient(90deg, #84C0DA, #005EAC, #003682);
}

a.btn-gradient span {
  position: relative;
  z-index: 1;
}

a.btn-gradient:hover {
  color: #fff;
}

a.btn-gradient:hover:after {
  opacity: 0;
}

a.btn-backhome {
    border: 2px solid #005EAC;
    border-radius: 0;
    background: #fff;
    display:block;
    width:10%;
    font-size: 5%;
    color: #005EAC;
    margin: auto;
  }
  
  a.btn-backhome:hover {
    color: #fff;
    background: #005EAC;
  }
  