@charset "UTF-8";


body {
  padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
}

header {
  width: 100%; /* 幅いっぱいを指定 */
  height: 50px; /* 高さを50pxに指定 */
  color: #ffffff;
  background-image: -webkit-linear-gradient(left, #84C0DA, #005EAC, #003682);

  background-image: linear-gradient(90deg, #84C0DA, #005EAC, #003682);
  padding: 20px 50px; /* ヘッダーに上下左右それぞれ余白を指定 */
  box-sizing: border-box; /* padding分を含んで幅を100%にするため */
  position: fixed; /* ウィンドウを基準に画面に固定 */
  top: 0; /* 上下の固定位置を上から0pxにする */
  left: 0; /* 左右の固定位置を左から0pxにする */
  display: flex; /* 中の要素を横並びにする */
  align-items: center; /* 中の要素を上下中央に並べる */
}

header .gnav .menu {
  display: flex; /* 中の要素を横並びにする */
}

header .gnav .menu li {
  list-style: none; /* リストの[・]を消す */
}

header .gnav .menu li + li {
  margin-left: 40px; /* メニューそれぞれに間隔をあけるため */
}

main {
  height: 100vw; /* スクロールの演出を見れるようにmainに高さを指定 */
  
}

.head{
    color: #ffffff;
    font-weight: bold;
}


.cp_iptxt {
	position: relative;
	width: 35.33%;
	margin: auto;
  background-color: rgba(255, 255, 255, 0);
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.5em;
	padding-left: 30px;
	letter-spacing: 2px;
	border: 0;
  color: rgb(0, 0, 0);
}


.cp_iptxt input[type='text']:focus {
	outline: none;
}

.cp_iptxt input[type='text']:focus::after {
	outline: none;
}

.cp_iptxt::after {
	display: block;
	width: 100%;
	height: 5px;
	margin-top: -1px;
	content: '';
	border-width: 0 2px 2px 2px;
	border-style: solid;
	border-color: #84C0DA ;
}


p{
    font-size: 15px;
    box-sizing: border-box;
    background-color: #ebebeb;
    line-height: 2;
}

.bold {
    font-weight:normal;
}

.radio{
  font-weight: bold;
}


label{
  font-size: 15px;
  box-sizing: border-box;
  line-height: 2;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}


a.btn-backhome {
    border: 2px solid #005EAC;
    border-radius: 0;
    background: #fff;
    display:block;
    width:60%;
    font-size: 5%;
    color: #005EAC;
    margin: auto;
  }
  
  a.btn-backhome:hover {
    color: #fff;
    background: #005EAC;
  }


  
.but {
  display:block;
  font-weight: bold;
  border:1px solid #ffffff;
  width:65%;
  margin:0 auto;
  border-radius : 0;          /* 角丸       */
  font-size     : 1.6rem;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 1rem 4rem;   /* 余白       */
 background-image: -webkit-linear-gradient(left, #84C0DA, #005EAC, #003682);

  background-image: linear-gradient(90deg, #84C0DA, #005EAC, #003682);     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1.5;         /* 1行の高さ  */
  transition    : all 0.3s;         /* なめらか変化 */
  
}
.but:hover {
  background    : #ffffff; 
  background-image: -webkit-linear-gradient(left, #84C0DA 40%, #005EAC 100%);
  background-image: linear-gradient(90deg, #84C0DA 40%, #005EAC 100%);   
}

#page_top{
  width: 100px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #005EAC;
}
#page_top a{
  position: relative;
  display: block;
  width: 100px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}