p.namae{
    color: aqua;
}
p.email{
    color: aqua;
}
p.job{
    color: aqua;
}
p.gakubu{
    color: aqua;
}
p.year{
    color: aqua;
}
p.month{
    color: aqua;
}
p.day{
    color: aqua;
}